<h2>New City</h2>

<form class="" action="/cities" method="post">
  <input type="text" name="city[name]" placeholder="Name">
  <input type="text" name="city[state]" placeholder="State">
  <input type="number" name="city[population]" placeholder="Population">
  <input type="text" name="city[image]" placeholder="Image URL">
  <input type="submit">
</form>
